.main__menu {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  background-color: whitesmoke;
  height: 80px;
  padding: 0%;
  margin: 0%;
  width: 100%;
  align-items: center;
  position: sticky;
}

.main__menu__link {
  text-decoration: none;
  border: 1px solid olive;
  color: black;
  font-size: 1.5em;
}

h1 {
  text-align: center;
}


img {
  width: 50%;
  position: relative;
  left: 20%;
}

.footer {
  list-style: none;
  border: 1px solid blue;
  display: flex;
  justify-content: space-evenly;
  background-color: plum;
  position: sticky;
  bottom: 0;
  margin: 0;
}

.footer__link {
  margin: 0 auto;
>>>>>>> develop
}
